# Игнорирование директории разработки
dev/
IntegralALL.py
# Игнорирование конфиденциальных файлов
data/api.json
data/settings.json

# Игнорирование всех кеш папок
design/__pycache__/
modules/__pycache__/
__pycache__/
*.py[cod]
*$py.class
.cache/
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
.egg-info/
.eggs/
*.egg
dist/
build/
*.so
*~
.DS_Store
